## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Exec=/usr/libexec/tb-updater/desktop-starter-wrapper
Type=Application
Name=Tor Browser Downloader (AnonDist)
GenericName=Download Tor Browser
StartupWMClass=Tor Browser Downloader
Comment=Download Tor Browser (AnonDist)
Categories=System;
Icon=/usr/share/icons/icon-pack-dist/tbupdate.ico
Keywords=system;update;browser;Tor
