## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Exec=/usr/lib/tb-updater/desktop-starter-wrapper
Type=Application
Name=Tor Browser Downloader (AnonDist)
GenericName=Download Tor Browser
Comment=Download Tor Browser (AnonDist)
Categories=System;
Icon=/usr/share/icons/anon-icon-pack/tbupdate.ico
Keywords=system;update;browser;Tor
