## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: tb-updater
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime
Homepage: https://github.com/Whonix/tb-updater
Vcs-Browser: https://github.com/Whonix/tb-updater
Vcs-Git: https://github.com/Whonix/tb-updater.git
Standards-Version: 3.9.4

Package: tb-updater
Architecture: all
Depends: msgcollector, curl, psmisc, gpg-bash-lib, ${misc:Depends}
Recommends: tb-starter, anon-icon-pack, anon-shared-helper-scripts,
 curl-scripts
Suggests: tb-default-browser, open-link-confirmation
Description: Tor Browser Updater
 Without the curl-scripts package installed, the GUI will not move the progress
 bar.
 .
 If you have the curl-scripts package installed, it will show a nicer progress
 bar when run in terminal and more meaningful curl exit code messages, when
 curl failed.
 .
 When having the anon-shared-helper-scripts package installed (recommended for
 Anonymity Distributions), Tor Browser Updater will check, that Tor is enabled,
 that no package manager is currently running and that Tor finished
 bootstrapping before download attempts.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
