## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: tb-updater
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Whonix/tb-updater
Vcs-Browser: https://github.com/Whonix/tb-updater
Vcs-Git: https://github.com/Whonix/tb-updater.git
Standards-Version: 4.6.1.0
Rules-Requires-Root: no

Package: tb-updater
Architecture: all
Depends: msgcollector-gui, curl, psmisc, gpg-bash-lib, pv, libarchive-tools,
 sudo, lxqt-sudo, jq, ${misc:Depends}
Recommends: tb-starter, icon-pack-dist, helper-scripts
Suggests: tb-default-browser, open-link-confirmation
Description: Tor Browser Downloader by Whonix developers
 Automates download and verification of Tor Browser from The Tor Project's
 website. Useful for initial installation of Tor Browser, clean
 re-installations of Tor Browser and keeping newly created Qubes AppVMs
 inherited from updated Qubes TemplateVMs can ship up to date versions of
 Tor Browsers.
 .
 Incapable of preserving of updating and preserving user data. Use
 Tor Browser's internal updater for that purpose. Notifies about already
 exiting installations of Tor Browser. Renamed rather than deletes old versions
 of Tor Browsers to avoid user data loss.
 .
 Has a cli and a gui mode. Can auto detect latest version numbers or use user
 configured version numbers. Comes with a download confirmation screen that
 lets users choose which version to download. [1] Has a installation
 confirmation screen [2] that enables users to detect indefinite freeze and
 rollback attacks.
 .
 Integrates well with tb-starter, tb-default-browser and
 open-link-confirmation package as well as with Qubes.
 .
 Without the helper-scripts package installed, the GUI will not move the
 progress bar.
 .
 If you have the helper-scripts package installed, it will show a nicer
 progress bar when run in terminal and more meaningful curl exit code
 messages, when curl failed.
 .
 When having the helper-scripts package installed (recommended for
 Anonymity Distributions), Tor Browser Downloader will check, that Tor is
 enabled, that no package manager is currently running and that Tor finished
 bootstrapping before download attempts.
 .
 Supports being run inside chroot and from Debian maintainer postinst script.
 .
 Qubes integration:
 .
  - Up-to-date browser versions made available to freshly created AppVMs and
 DispVMs.
  - In DispVM mounts browser folder which resides in root image to user home
 folder rather than copying for faster browser startup.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
 .
 [1] https://www.whonix.org/wiki/Tor_Browser#Download_Confirmation_Screen
 [2] https://www.whonix.org/wiki/Tor_Browser#Installation_Confirmation_Screen
